# Archivos y carpetas de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.sqlite3

# Archivos temporales o de sistema
*.log
*.tmp
*.DS_Store
*.swp
*.bak

# Carpeta de resultados o salidas del sistema
resultados/
salidas/
logs/
output/
captures/

# Modelos pesados
*.pt
*.onnx
*.engine
*.tflite

# Archivos ocultos y entornos
.env
.vscode/
.idea/
*.egg-info/
dist/
build/
venv/
.venv/

# Control de versiones
.git/
.gitignore
